<!DOCTYPE html>
<html>

<head>
    <title>{{ .WindowTitle }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="https://use.typekit.net/nko1glb.css" />
    <link rel="stylesheet" type="text/css" href="{{ staticURL "/fonts/fonts.css" }}?{{ lastRestart }}" />
    <link rel="stylesheet" type="text/css" href="{{ staticURL "/styles/reset.css" }}?{{ lastRestart }}" />
    <link rel="stylesheet" type="text/css" href="{{ staticURL "/styles/main.css" }}?{{ lastRestart }}" />
    {{ template "stylesheets" }}
    {{ define "stylesheets" }}{{ end }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8K1JL8YTTQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8K1JL8YTTQ');
    </script>
</head>

<body>
    <header>
        <a href="{{ baseURL "" }}"><strong>yannlandry</strong>.photography</a>
        <nav>
            {{ range $Link := .Navigation.Links }}
                <a href="{{ baseURL $Link.Link }}">{{ $Link.Title }}</a>
            {{ end }}
        </nav>
    </header>

    {{ template "content" .Content }}

    <footer>
        <div class="social">
            <a href="https://instagram.com/yannlandry.photography" class="plus" target="_blank">i</a>
            <a href="https://www.flickr.com/photos/yannlandry" target="_blank">n</a>
            <a href="https://www.linkedin.com/in/yannlandry/" target="_blank">i</a>
        </div>
    </footer>

    {{ template "scripts" }}
    {{ define "scripts" }}{{ end }}

</body>

</html>

{{ define "date" }}
    <time title="{{ plainDate . }}" datetime="{{ formatDate . }}">{{ prettyDate . }}</time>
{{ end }}
