<!DOCTYPE html>
<html>

<head>
    <title>{{ .WindowTitle }}</title>
    <meta charset="utf-8" />
    {{ range $Stylesheet := .Stylesheets }}
        <link rel="stylesheet" type="text/css" href="{{ $Stylesheet }}" />
    {{ end }}
</head>

<body>
    <header>
        <a href="{{ .Home }}">yannlandry.photography</a>
        <nav>
            <ul>
                {{ range $Link := .Navigation.Links }}
                    <li><a href="{{ $Link.Link }}">{{ $Link.Title }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </header>

    {{ template "content" .Content }}

</body>

</html>
