<h1>Blog</h1>

<p>
    {{ $ActiveKeyword := .ActiveKeyword }}
    {{ if (ne $ActiveKeyword "") }}
        <strong><a href="http://localhost:8080/blog/keyword/{{ .ActiveKeyword }}">{{ .ActiveKeyword }}</a></strong>
    {{ end }}
    {{ range $Keyword, $Posts := .Keywords }}
        {{ if (ne $ActiveKeyword $Keyword) }}
            <a href="http://localhost:8080/blog/keyword/{{ $Keyword }}">{{ $Keyword }}</a>
        {{ end }}
    {{ end }}
</p>

{{ range $Post := .Posts }}
    <h2><a href="http://localhost:8080/blog/{{ $Post.Slug }}">{{ $Post.Title }}</a></h2>

    <p>
        {{ range $Keyword := $Post.Keywords }}
            <a href="http://localhost:8080/blog/keyword/{{ $Keyword }}">{{ $Keyword }}</a>
        {{ end }}
    </p>

    <p>{{ $Post.Summary }}</p>
{{ end }}
