{{ define "stylesheets" }}
<link rel="stylesheet" type="text/css" href="{{ staticURL "/styles/home.css" }}?{{ lastRestart }}" />
{{ end }}

{{ define "content" }}

<div id="slideshow">
    <div data-background="{{ staticURL "images/slideshow/yosemite-3840.webp" }}">
        <span>Yosemite National Park</span>
    </div>
    <div data-background="{{ staticURL "images/slideshow/norway-3840.webp" }}">
        <span>Aurora Borealis over Norway</span>
    </div>
    <div data-background="{{ staticURL "images/slideshow/vestrahorn-3840.webp" }}">
        <span>Sunset on Vestrahorn in Iceland</span>
    </div>
    <div data-background="{{ staticURL "images/slideshow/puffin-3840.webp" }}">
        <span>The Atlantic puffin</span>
    </div>
    <div data-background="{{ staticURL "images/slideshow/emerald-3840.webp" }}">
        <span>Yoho National Park</span>
    </div>
    <div data-background="{{ staticURL "images/slideshow/wonderpass-3840.webp" }}">
        <span>Banff National Park</span>
    </div>
    <div data-background="{{ staticURL "images/slideshow/uyuni-3840.webp" }}">
        <span>Salar de Uyuni</span>
    </div>
    <div style="background-image: url('{{ staticURL "images/slideshow/crawford-3840.webp" }}')">
        <span>Supercell over Nebraska</span>
    </div>
</div>

<div id="progress-bar"></div>

{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src="{{ staticURL "/scripts/slideshow.js" }}?{{ lastRestart }}"></script>
{{ end }}
