{{ define "content" }}

<article>

    <h1>Blog</h1>

    {{ $ActiveKeyword := .ActiveKeyword }}
    <p {{ if (ne $ActiveKeyword "") }}class="active-keyword"{{ end }}>
        {{ range $Keyword, $Posts := .Keywords }}
            <a href="{{ baseURL "/blog/keyword" }}/{{ $Keyword }}" class="keyword {{ if (eq $ActiveKeyword $Keyword) }}active{{ end }}">{{ $Keyword }}</a>
        {{ end }}
    </p>

    {{ range $Post := .Posts }}
        <h2><a href="{{ baseURL "/blog" }}/{{ $Post.Slug }}">{{ $Post.Title }}</a></h2>

        <p>{{ $Post.Summary }}</p>

        <p class="smaller">
            {{ range $Keyword := $Post.Keywords }}
                <a href="{{ baseURL "/blog/keyword" }}/{{ $Keyword }}" class="keyword">{{ $Keyword }}</a>
            {{ end }}
        </p>
    {{ end }}

</article>

{{ end }}
