{{ define "content" }}

<article>

    <h1>{{ .Title }}</h1>
    <p class="summary">{{ .Summary }}</p>

    <p>{{ .Content }}</p>

    <p>
        {{ range $Keyword := .Keywords }}
            <a href="{{ baseURL "/blog/keyword" }}/{{ $Keyword }}" class="keyword">{{ $Keyword }}</a>
        {{ end }}
    </p>

    <div id="disqus_thread"></div>

</article>

<script>
    var disqus_config = function () {
        this.page.url = "https://yannlandry.photography/blog/{{ .Slug }}";
        this.page.identifier = "{{ .Slug }}";
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://yannlandry-photography.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>

{{ end }}
