{{ define "content" }}

<h1>Blog</h1>

<p>
    {{ $ActiveKeyword := .ActiveKeyword }}
    {{ if (ne $ActiveKeyword "") }}
        <strong><a href="{{ baseURL "/blog/keyword" }}/{{ .ActiveKeyword }}">{{ .ActiveKeyword }}</a></strong>
    {{ end }}
    {{ range $Keyword, $Posts := .Keywords }}
        {{ if (ne $ActiveKeyword $Keyword) }}
            <a href="{{ baseURL "/blog/keyword" }}/{{ $Keyword }}">{{ $Keyword }}</a>
        {{ end }}
    {{ end }}
</p>

{{ range $Post := .Posts }}
    <h2><a href="{{ baseURL "/blog" }}/{{ $Post.Slug }}">{{ $Post.Title }}</a></h2>

    <p>
        {{ range $Keyword := $Post.Keywords }}
            <a href="{{ baseURL "/blog/keyword" }}/{{ $Keyword }}">{{ $Keyword }}</a>
        {{ end }}
    </p>

    <p>{{ $Post.Summary }}</p>
{{ end }}

{{ end }}
