{{ define "content" }}

<main>
    <article>

        <h1>{{ .Title }}</h1>
        <p class="summary">{{ .Summary }}</p>

        {{ if .Image }}
            <p><img src="{{ staticURL .Image }}" alt="{{ .Title }}" /></p>
        {{ end }}

        <p>{{ .Content }}</p>

        <p class="published">
            <span class="keywords">
                {{ range $Keyword := .Keywords }}
                    <a href="{{ baseURL "/blog/keyword" }}/{{ $Keyword }}" class="keyword">{{ $Keyword }}</a>
                {{ end }}
            </span>
            Published {{ template "date" .Date }}
        </p>

        <section class="social">
            {{ $URL := baseURL (concat "/blog/" .Slug) }}
            <a href="https://www.facebook.com/share.php?u={{ $URL }}" class="facebook" target="_blank">f</a>
            <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ $URL }}" class="twitter" target="_blank">l</a>
            <a href="http://pinterest.com/pin/create/button/?url={{ $URL }}" class="pinterest plus" target="_blank">p</a>
            <a href="mailto:?subject={{ .Title }}&body={{ $URL }}" class="email plus" target="_blank">m</a>
        </section>

        <section>
            <div id="disqus_thread"></div>
        <section>

    </article>
</main>

<script>
    var disqus_config = function () {
        this.page.url = "https://yannlandry.photography/blog/{{ .Slug }}";
        this.page.identifier = "{{ .Slug }}";
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://yannlandry-photography.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>

{{ end }}
