{{ define "title" }}<title>{{ .WindowTitle }}</title>{{ end }}

{{ define "meta" }}
    <meta name="title" content="{{ .Title }}" />
    <meta name="description" content="{{ .Summary }}" />

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/yann.landry.94" />
    <meta property="article:published_time" content="{{ formatDate .Date }}" />
    {{ if .Image }}<meta property="og:image" content="{{ staticURL .Image }}" />
    {{ else }}<meta property="og:image" content="{{ staticURL "/images/ogimage.webp" }}" />{{ end }}
    <meta property="og:url" content="{{ baseURL "/blog" }}/{{ .Slug }}" />

    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Summary }}" />
    <meta name="twitter:type" content="article" />
    {{ if .Image }}<meta name="twitter:image" content="{{ staticURL .Image }}" />
    {{ else }}<meta name="twitter:image" content="{{ staticURL "/images/ogimage.webp" }}" />{{ end }}
    <meta name="twitter:url" content="{{ baseURL "/blog" }}/{{ .Slug }}" />
    <meta name="twitter:card" content="summary_large_image" />
{{ end }}

{{ define "content" }}

<main>
    <article>

        <h1>{{ .Title }}</h1>
        <p class="summary">{{ .Summary }}</p>

        {{ if .Image }}
            <p><img src="{{ staticURL .Image }}" alt="{{ .Title }}" /></p>
        {{ end }}

        {{ .Content }}

        <p class="published">
            <span class="keywords">
                {{ range $Keyword := .Keywords }}
                    <a href="{{ baseURL "/blog/keyword" }}/{{ $Keyword }}" class="keyword">{{ $Keyword }}</a>
                {{ end }}
            </span>
            Published {{ template "date" .Date }}
        </p>

        <section class="social">
            {{ $URL := baseURL (concat "/blog/" .Slug) }}
            <a href="https://www.facebook.com/share.php?u={{ $URL }}" class="facebook" target="_blank">f</a>
            <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ $URL }}" class="twitter" target="_blank">l</a>
            <a href="http://pinterest.com/pin/create/button/?url={{ $URL }}" class="pinterest plus" target="_blank">p</a>
            <a href="mailto:?subject={{ .Title }}&body={{ $URL }}" class="email plus" target="_blank">m</a>
        </section>

        <section>
            <div id="fb-root"></div>
            <div class="fb-comments" data-href="{{ baseURL "/blog"}}/{{ .Slug }}" data-width="100%" data-numposts="5" data-lazy="true"></div>
        </section>

    </article>
</main>

<script async="async" defer="defer" crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0&appId=5458375057513231&autoLogAppEvents=1" nonce="9KIDPm00"></script>

{{ end }}
