{{ define "title" }}
    {{ if .WindowTitle }}
        <title>{{ .WindowTitle }}</title>
    {{ else }}
        <title>Yann Landry Photography</title>
    {{ end }}
{{ end }}

{{ define "meta" }}
    <meta name="title" content="{{ .WindowTitle }}" />

    <meta property="og:title" content="{{ .WindowTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ staticURL "/images/ogimage.jpg" }}" />
    <meta property="og:url" content="{{ baseURL "" }}/{{ .Slug }}" />

    <meta name="twitter:title" content="{{ .WindowTitle }}" />
    <meta name="twitter:type" content="website" />
    <meta name="twitter:image" content="{{ staticURL "/images/ogimage.jpg" }}" />
    <meta name="twitter:url" content="{{ baseURL "" }}/{{ .Slug }}" />
    <meta name="twitter:card" content="summary_large_image" />
{{ end }}

{{ define "content" }}

<main>
    <article>

        {{ .Content }}

    </article>
</main>

{{ end }}
